<h1>Social Share</h1>

<magic-fb-share
  [url]="url"
  [icon]="fbImage"
  [width]="width"
></magic-fb-share>
<!-- <magic-fb-share></magic-fb-share> -->



<magic-gplus-share
  [url]="url"
  [icon]="gPlusImage"
  [width]="width"
></magic-gplus-share>
<!-- <magic-gplus-share></magic-gplus-share> -->



<magic-twitt-share
  [url]="url"
  [icon]="twittImage"
  [width]="width"
></magic-twitt-share>
<!-- <magic-twitt-share></magic-twitt-share> -->



<magic-whatsapp-share
  [url]="url"
  [icon]="whatsAppImage"
  [width]="width"
></magic-whatsapp-share>
<!-- <magic-whatsapp-share></magic-whatsapp-share> -->



<magic-mail-share
  [url]="url"
  [extraText]="text"
  [icon]="mailImage"
  [width]="width"
></magic-mail-share>
<!-- <magic-mail-share></magic-mail-share> -->

